* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote h3 {
  font-size: 2rem;
  font-weight: 400;
}
